body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 100%;
    height: 100%;
}

.initialScreen {
    position: fixed;
    z-index:1;
    background-color: whitesmoke;
    border:none;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.initialScreen.hidden {
    visibility: hidden;
    display: none;
}

.gameSetUp {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.gameSetUp > h2 {
    grid-area:1/1/2/3;
    text-align: center;   
}
.gameSetUp > div {
    height: 100%;
    width: 100%;
}
.moveOrder {
    display: grid;
    grid-area: 3/1/4/3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.moveOrder > p {
    grid-area: 1/1/2/3;
}
.startGame{
    grid-area: 4/1/5/3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#startGame {

    width: 15rem;
    height: 3rem;
}

.gameScreen {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    width: 60%;
    border-style: solid;
    align-items: center;
    justify-content: center;
}
.gameScreen.hidden {
    filter: blur(1px);
}

.topnav{
    grid-area: 1/1/2/4;
    display: flex;
    background-color: aqua;
    justify-content: center;
}
.gameboard{
    grid-area: 2/1/3/4;
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}
.playerOneScore{
    text-align: center;
    display: grid;
}

.playerTwoScore{
    text-align: center;
    display: grid;
}

.buttons {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 8rem 8rem 8rem;
    grid-template-rows: 8rem 8rem 8rem;
}

.space {
    width: 100%;
    height: 100%;
}

.bottomnav {
    grid-area: 3/1/4/4;
    display: flex;
    background-color: aqua;
    justify-content: space-between;
}

.bottomnav > p {
    position: relative;
    left: 2em;
}

.bottomnav > button {
    position: relative;
    right: 2em;
}
/* What to do: add special font, make the buttons and text fields nice. */